.frame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
    border-radius: 5px;
    border-color: blueviolet;
    border: 2px;
    background-color: rgb(200, 161, 237);
}

.frame--button {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: blueviolet;
    border: 2px;
    background-color: rgb(255, 255, 255);
}